* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    width: 100vw;
    font-family: "plantc", "Source Han Serif", serif;
}

a {
    color: #141414;
}

.slice {
    /* width: 340px; */
    width: 80%;
    background-size: cover;
    box-shadow: 0 20px 90px 0 rgba(0, 0, 0, .08), 0 9px 30px 0 rgba(0, 0, 0, .1);
    display: grid; 
    /* grid-template-columns: minmax(1fr, 0.8fr);  */
}

.intro {
    display: grid;
    height: 90vh;
    grid-template-columns: repeat(3, 33.33%);
    /* grid-template-columns: minmax(220px, 1fr) 1fr minmax(220px, 1fr); */
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;
    z-index: 1;
}

.heading {
    display: grid;
    font-size: 1.5em;
    z-index: 1;
    visibility: inherit;
    opacity: 0.8227;
}

.subheading {
    display: grid;
    font-size: 1em;
    z-index: 1;
    visibility: inherit;
    opacity: 0.617;
}

.slice-right {
    display: grid;
    justify-items: center;
    transform: translateY(-70px);
    /* transform: translate(-15px, -70px); */
}

.slice-left {
    display: grid;
    justify-items: center;
    transform: translateY(70px);
    /* transform: translate(15px, 70px); */
}

footer {
    text-align: center;
}